.content_section {
  .left_content {
    h2 {
      font-size: 50px;
      @media only screen and (max-width: 770px) {
        padding-top: 50px;
        text-align: center;
      }
    }
      p {
    @media only screen and (max-width: 770px) {
      text-align: center;
      font-size: 15px;
    }
  }
  }

  .heroImage {
    @media only screen and (max-width: 770px) {
      width: 100%;
      height: 100%;
      margin: auto;
      display: block;
    }
  }
  @media only screen and (max-width:770px){
    margin: 0;
  }
}

.fullImg{
  display: flex;
  min-height: 500px;
  padding: 100px 3%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: radial-gradient(circle farthest-corner at 50% 50%, rgba(0, 0, 0, 0.67), rgba(25, 26, 27, 0.19)), url("../Assets/Company/background.jpg");
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
  .statics{
    place-items: center;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    color: white;
    text-align: center;
    h1{
        font-size: 55px;
        font-weight: 700;
    }
    p{
        font-size: 25px;
    }
  }
}